
.img_container{
    margin: 25px 0;
    text-align: center;
}

.movie_image{
    border:10px solid black;    
}

.movie_head{
    padding:5px;
    text-align: center;
}

.movie_title{
    font-size: 3em;
    font-weight: 700;
}

.movie_year{
    font-size: 3em;
}

.movie_summary{
    margin:0 60px 50px;
    font-size: 2em;
}